*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.game-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 100px;    
}
.title{
    margin-top: 34px;
    padding: 0 34px;
    h1{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
     }
     
}
.turn{
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        font-size: 22px;
    }

    button{
        margin: 0 23px;
        padding: 1px 18px;
        background: #f3e7f9;
        border-radius: 6px;
        cursor: pointer;
        font-size: 15px;
        height: 36.5px;
    }

}
.game{
    display: flex;
    flex-direction: column;
}
.game-row{
    display: flex;
    align-items: center;
}
.box{
    height: 10vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 8vw;
    border: 2px solid black;
}
.box-left{
    border-left: none;
}
.box-right{
    border-right: none;
}
.box-top{
    border-top: none;
}
.box-bottom{
    border-bottom: none;
}
.box:hover{
    background: #f3e7f9;
}